@font-face {
    font-family: Barlow;
    src: url(https://github.com/jpt/barlow);
}
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*  Контейнер страницы  */
.layout {
    background-color: #eff6ff;
    padding: 100px 0;
}
.layout__container {
    background-color: #fff;
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

/*  Баннер  */
.banner {
    width: 50%;
    height: 1000px;

    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Контейнер формы  */
.form {
    width: 50%;
    align-self: center;
}
.form__container {
    width: 80%;
    margin: auto;
    padding: 40px;
}

/*  Заголовок формы  */
.header p {
    margin: 15px 0;
    opacity: 0.5;
}
.header span {
    display: block;
    margin: 15px 0;
    opacity: 0.5;
}

/*  Социальные сети  */
.network {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}
.network__button {
    display: flex;
    width: 47%;
    text-decoration: none;
    padding: 10px;
    color: #fff;
}
.network__button > img {
    width: 20px;
    height: 20px;
}

.network__button > p {
    margin: auto;
}
.network__facebook {
    background-color: #255a9b;
}
.network__linkedin {
    background-color: #0076b6;
}

/*  Разделитель  */
.delimiter {
    display: flex;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
}
.delimiter__line {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0 10px;
    top: -0.5em;
    width: 100px;
}

/*  Контакты email || phone  */
.contact {
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
    margin-bottom: 60px;
}
.contact__container {
    position: relative;
    width: 47%;
    height: 50px;
}
.contact__border {
    position: absolute;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.contact__label {
    position: absolute;
    top: 5%;
    left: 5%;
    color: rgba(0, 0, 0, 0.5);
}
.contact__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    padding: 12px;
    padding-bottom: 3px;
}
.contact__input:focus {
    outline: none;
}
.contact__input:focus + .contact__border {
    border-left: 2px solid blue;
}

/*  Опросник  */
.questionnaire {
    background-color: #fff;
}
.investor-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.investor-type__choice {
    width: 25%;
    display: flex;
    margin: 20px 0;
}
.investor-type__button {
    margin-right: 10px;
}
.investor-type__description {
    width: 50%;
    padding: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.investor-type__description span {
    opacity: 0.5;
}

/*  Подверждение  */
.confirmation {
    margin: 50px 0;
}
.confirmation label {
    display: flex;
}
.confirmation input {
    margin: auto 0;
    margin-right: 10px;
}
.confirmation span {
    margin: auto 0;
    font-size: 14px;
    opacity: 0.5;
}

/*  Кнопка создания аккаунта */
.button-create-account {
    border-radius: 3px;
    width: 50%;
    height: 40px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    background-color: #3698fb;
}
